<a href="https://colab.research.google.com/github/darshpandyaGit/darshpandyaGit/blob/main/Chapter_5_Scikit_Learn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 5.1 Overview of the Scikit-Learn Library

## 5.1.2 Estimators, Transformers, and Predictors

Transformers and the transform() method

In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
X = pd.DataFrame({'A':[1, 2, 3, 2], 'B':[11, 1, 8, 3]})
scaler = StandardScaler()
scaler.fit(X)
print(scaler.mean_)
print(scaler.var_)

[2.   5.75]
[ 0.5    15.6875]

In [ ]:
X_scaled = scaler.transform(X)
print(X_scaled)

[[-1.41421356  1.32550825]
 [ 0.         -1.19926937]
 [ 1.41421356  0.56807496]
 [ 0.         -0.69431384]]

In [ ]:
print(X_scaled[:, 0].mean())
print(X_scaled[:, 1].mean())
print(X_scaled[:, 0].var())
print(X_scaled[:, 1].var())

0.0
0.0
0.9999999999999998
1.0

# 5.2 Data Preprocessing with sklearn

In [5]:
import pandas as pd
import numpy as np

#from google.colab import drive
#drive.mount('/content/drive')


df = pd.read_csv('datapreprocessing.csv')

In [11]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
df

   Color  Years  Strength  Height       Weight Dangerous
0  Green    2.3     210.0   170.0  20 to 30 kg       Yes
1    Red    4.1     100.0     NaN  10 to 20 kg        No
2   Blue    1.4       NaN   412.0   0 to 10 kg        No
3  Green    NaN     313.0   123.0  10 to 20 kg       Yes
4    NaN    5.2     512.0   372.0   0 to 10 kg       Yes

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Color      4 non-null      object
 1   Years      4 non-null      float64
 2   Strength   4 non-null      float64
 3   Height     4 non-null      float64
 4   Weight     5 non-null      object
 5   Dangerous  5 non-null      object
dtypes: float64(3), object(3)
memory usage: 368.0+ bytes

In [9]:
df.describe()

          Years    Strength      Height
count  4.000000    4.000000    4.000000
mean   3.250000  283.750000  269.250000
std    1.717556  175.268128  143.961511
min    1.400000  100.000000  123.000000
25%    2.075000  182.500000  158.250000
50%    3.200000  261.500000  271.000000
75%    4.375000  362.750000  382.000000
max    5.200000  512.000000  412.000000

## 5.2.1 Handling Missing Data

In [ ]:
# Importing the SimpleImputer class
from sklearn.impute import SimpleImputer

# Instantiating a SimpleImputer object
imp = SimpleImputer(missing_values=np.nan, strategy='mean')

# Calling the fit() method to calculate the means
imp.fit(df[['Years', 'Strength', 'Height']])

# transforming the data
df[['Years', 'Strength', 'Height']] = imp.transform(df[['Years', 'Strength', 'Height']])

In [ ]:
print(imp.statistics_)

[  3.25 283.75 269.25]

In [ ]:
df

   Color  Years  Strength  Height       Weight Dangerous
0  Green   2.30    210.00  170.00  20 to 30 kg       Yes
1    Red   4.10    100.00  269.25  10 to 20 kg        No
2   Blue   1.40    283.75  412.00   0 to 10 kg        No
3  Green   3.25    313.00  123.00  10 to 20 kg       Yes
4    NaN   5.20    512.00  372.00   0 to 10 kg       Yes

In [ ]:
# Updating the 'strategy' parameter of the SimpleImputer object
imp.set_params(strategy='most_frequent')

# Calling the fit() method to get the mode
imp.fit(df[['Color']])

# Transforming the column
df[['Color']] = imp.transform(df[['Color']])

## 5.2.2 Encoding Categorical Data

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Dangerous'] = le.fit_transform(df['Dangerous'])

In [ ]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder(dtype=np.int)
df[['Weight']] = oe.fit_transform(df[['Weight']])

In [ ]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(dtype=np.int, sparse = False, drop='first')
color_encoded = ohe.fit_transform(df[['Color']])
df2 = pd.DataFrame(color_encoded, columns = ohe.get_feature_names())
df = pd.concat((df, df2), axis = 1)
df

   Color  Years  Strength  Height  Weight  Dangerous  x0_Green  x0_Red
0  Green   2.30    210.00  170.00       2          1         1       0
1    Red   4.10    100.00  269.25       1          0         0       1
2   Blue   1.40    283.75  412.00       0          0         0       0
3  Green   3.25    313.00  123.00       1          1         1       0
4  Green   5.20    512.00  372.00       0          1         1       0

## 5.2.3 Feature Scaling

In [ ]:
from sklearn.preprocessing import MinMaxScaler
mms = MinMaxScaler()
df[['Years', 'Strength', 'Height']] = mms.fit_transform(df[['Years', 'Strength', 'Height']])
df

   Color     Years  Strength    Height  Weight  Dangerous  x0_Green  x0_Red
0  Green  0.236842  0.266990  0.162630       2          1         1       0
1    Red  0.710526  0.000000  0.506055       1          0         0       1
2   Blue  0.000000  0.445995  1.000000       0          0         0       0
3  Green  0.486842  0.516990  0.000000       1          1         1       0
4  Green  1.000000  1.000000  0.861592       0          1         1       0

# 5.3 PipeLine and ColumnTransformer

## 5.3.1 Pipeline

In [ ]:
data = pd.DataFrame([[1], [4], [np.NaN], [8], [11]], columns=['A'])

from sklearn.pipeline import Pipeline

pl = Pipeline([
   ('imp', SimpleImputer(strategy="mean")), 
   ('scaler', MinMaxScaler())              
])

print(pl.fit_transform(data))

[[0. ]
 [0.3]
 [0.5]
 [0.7]
 [1. ]]

## 5.3.2 ColumnTransformer

In [ ]:
from sklearn.compose import ColumnTransformer

data = pd.DataFrame([[1], [4], [np.NaN], [8], [11]], columns=['A'])

ct = ColumnTransformer([
  ('imp', SimpleImputer(strategy="mean"), ['A']),
   ('scaler', MinMaxScaler(), ['A'])              
])

In [ ]:
print(ct.fit_transform(data))

[[ 1.   0. ]
 [ 4.   0.3]
 [ 6.   nan]
 [ 8.   0.7]
 [11.   1. ]]

In [ ]:
data = pd.DataFrame({'A': [1, 2, 3, 4, 5], 'B':['Apple', 'Orange', 'Apple', 'Banana', 'Apple'], 'C':[11, 12, 13, 14, 15]})

ct2 = ColumnTransformer([
  ('encode', OrdinalEncoder(), ['B']),
  ('normalize', MinMaxScaler(), ['A'])                         
], remainder='passthrough')

print(ct2.fit_transform(data))

[[ 0.    0.   11.  ]
 [ 2.    0.25 12.  ]
 [ 0.    0.5  13.  ]
 [ 1.    0.75 14.  ]
 [ 0.    1.   15.  ]]

# 5.4 Model Evaluation with sklearn

## 5.4.1 Classification metrics

Accuracy

In [10]:
from sklearn.metrics import accuracy_score
true = ['Cat', 'Cat', 'Dog', 'Dog', 'Cat', 'Dog']
pred = ['Cat', 'Cat', 'Cat', 'Dog', 'Cat', 'Cat']
score = accuracy_score(true, pred)
print(score)

0.6666666666666666

Precision and Recall

In [11]:
from sklearn.metrics import precision_score, recall_score
true = ['Cat', 'Cat', 'Dog', 'Dog', 'Cat', 'Dog']
pred = ['Cat', 'Cat', 'Cat', 'Dog', 'Cat', 'Cat']
precision = precision_score(true, pred, pos_label = 'Dog')
recall = recall_score(true, pred, pos_label = 'Dog')
print(precision)
print(recall)

1.0
0.3333333333333333

## 5.4.2 Regression metrics

In [12]:
from sklearn.metrics import r2_score, mean_squared_error
pred = [2.1, 1.4, 5.6, 7.9]
true = [2.5, 1.6, 5.1, 6.8]
RMSE = mean_squared_error(true, pred, squared=False)
r2 = r2_score(true, pred)
print(RMSE)
print(r2)

0.6442049363362565
0.902696365767878